/*
 * @Author: ranruci 
 * @Date: 2017-12-22 16:18:39 
 * @Last Modified by: ranruci
 * @Last Modified time: 2017-12-22 22:07:49
 */

body{
    /* background: #0c9; */
    color:#fff;
    font-size: 20px;
    background:url(../../image/task7_6.jpg);
}